<div class="c-contact-page">
  <div class="c-contact-page__header"></div>
  <div class="c-contact-page__form-container">
    <div class="c-contact-page__image"></div>
    <%= render 'messages/form' %>
  </div>
</div>