<div class="c-contact-page">
  <%= render 'shared/nav-bar' %>
  <div class="c-contact-page__form-container">
    <div class="c-contact-page__image"></div>
    <%= render 'messages/form' %>
  </div>
</div>