<div class="container">
  <div class="jumbotron">
    <h1>Create A New Article</h1>
  </div>
  <%= render 'form' %>

  <%= link_to "Back to Article List", admin_articles_path %>
  <%= link_to "Return to Homepage", welcome_index_url %>
</div>