<div class="a-ds-welcome-animation">
  <div class="a-ds-welcome-animation__cell">D</div>
  <div class="a-ds-welcome-animation__cell">A</div>
  <div class="a-ds-welcome-animation__cell">M</div>
  <div class="a-ds-welcome-animation__cell">E</div>
  <div class="a-ds-welcome-animation__cell">O</div>
  <div class="a-ds-welcome-animation__cell">N</div>
  <div class="a-ds-welcome-animation__cell"></div>
  <div class="a-ds-welcome-animation__cell"></div>
  <div class="a-ds-welcome-animation__cell"></div>
  <div class="a-ds-welcome-animation__cell">S</div>
  <div class="a-ds-welcome-animation__cell">U</div>
  <div class="a-ds-welcome-animation__cell">M</div>
  <div class="a-ds-welcome-animation__cell">P</div>
  <div class="a-ds-welcome-animation__cell">T</div>
  <div class="a-ds-welcome-animation__cell">O</div>
  <div class="a-ds-welcome-animation__cell">N</div>
  <div class="a-ds-welcome-animation__cell"></div>
  <div class="a-ds-welcome-animation__cell"></div>
  <div class="a-ds-welcome-animation__cell">D</div>
  <div class="a-ds-welcome-animation__cell">E</div>
  <div class="a-ds-welcome-animation__cell">V</div>
  <div class="a-ds-welcome-animation__cell">E</div>
  <div class="a-ds-welcome-animation__cell">L</div>
  <div class="a-ds-welcome-animation__cell">O</div>
  <div class="a-ds-welcome-animation__cell">P</div>
  <div class="a-ds-welcome-animation__cell">E</div>
  <div class="a-ds-welcome-animation__cell">R</div>
</div>