<footer class="c-footer">
  <nav class="c-footer__nav">
    <a href="index" class="c-footer__navitem">Home</a>
    <a href="#" class="c-footer__navitem">About Me</a>
    <a href="#" class="c-footer__navitem">My Projects</a>
    <a href="#" class="c-footer__navitem">Blog Articles</a>
    <a href="#" class="c-footer__navitem u-white-border">Contact</a>
  </nav>

  <nav class="c-footer__socialmedia">
    <a href="https://github.com/Dameon79">
      <%= image_tag "Github2.png", class:"c-socialmedialogos c-socialmedialogos__git" %>
    </a>
    <a href="https://procoders.co.uk/?gclid=CjwKCAjwrNjcBRA3EiwAIIOvqwymZaA5y1EhNZgzLAr62QD6nkk3omRCfR4kU-2Xnpd9NrU9GGcknRoC-XkQAvD_BwE">
      <%= image_tag "procoders2.jpg", class:"c-socialmedialogos" %>
    </a>
    <a href="https://www.linkedin.com/in/dameon-sumpton-407503ab/">
      <%= image_tag "linkedin1.png", class:"c-socialmedialogos" %>
    </a>
    <a href="https://twitter.com/dameon_sumpton">
      <%= image_tag "Twitter1.png", class:"c-socialmedialogos" %>
    </a>
  </nav>
  <h6 class="c-footer__copyright">© Dameon Sumpton 2018</h6>
</footer>