<div class="c-burger-container" onclick="animateBurger(this)">
  <div class="c-burger-container__burger1"></div>
  <div class="c-burger-container__burger2"></div>
  <div class="c-burger-container__burger3"></div>


  <nav class="c-burgernav">
    <%=link_to "Home", root_url, class: "c-burgernav__menu" %>
    <%=link_to "About Me", pages_about_url, class: "c-burgernav__menu" %>
    <a href="#" class="c-burgernav__menu">My Projects</a>
    <a href="#" class="c-burgernav__menu">Blog Articles</a>
    <%=link_to "Contact", pages_contact_url, class: "c-burgernav__menu u-white-border" %>
  </nav>
</div>