<div class="a-ds-welcome-animation">
  <div class="a-ds-welcome-animation__cell1">D</div>
  <div class="a-ds-welcome-animation__cell1">A</div>
  <div class="a-ds-welcome-animation__cell1">M</div>
  <div class="a-ds-welcome-animation__cell1">E</div>
  <div class="a-ds-welcome-animation__cell1">O</div>
  <div class="a-ds-welcome-animation__cell1">N</div>
  <div class="a-ds-welcome-animation__cell1"></div>
  <div class="a-ds-welcome-animation__cell1"></div>
  <div class="a-ds-welcome-animation__cell1"></div>
  <div class="a-ds-welcome-animation__cell2">S</div>
  <div class="a-ds-welcome-animation__cell2">U</div>
  <div class="a-ds-welcome-animation__cell2">M</div>
  <div class="a-ds-welcome-animation__cell2">P</div>
  <div class="a-ds-welcome-animation__cell2">T</div>
  <div class="a-ds-welcome-animation__cell2">O</div>
  <div class="a-ds-welcome-animation__cell2">N</div>
  <div class="a-ds-welcome-animation__cell2"></div>
  <div class="a-ds-welcome-animation__cell2"></div>
  <div class="a-ds-welcome-animation__cell3">D</div>
  <div class="a-ds-welcome-animation__cell3">E</div>
  <div class="a-ds-welcome-animation__cell3">V</div>
  <div class="a-ds-welcome-animation__cell3">E</div>
  <div class="a-ds-welcome-animation__cell3">L</div>
  <div class="a-ds-welcome-animation__cell3">O</div>
  <div class="a-ds-welcome-animation__cell3">P</div>
  <div class="a-ds-welcome-animation__cell3">E</div>
  <div class="a-ds-welcome-animation__cell3">R</div>
</div>