.c-aboutme {
  height: 370px;
  background-position: center;
  position: relative;

  &__skills-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr  1fr;
    height: 300px;
    width: 375px;
    grid-gap: 5px 5px;
    padding-top: 10px;
    bottom: 0;
  }

  &__skills-image {
    height: 90px;
    justify-self: center;
    align-self: center;
  }
}

.c-skills--node {
  grid-column: 1 / span 3;
  margin-left: 20px;
}

.c-skills--ruby {
  height: 75px;
}

@media only screen and (min-width: 768px) {
  .c-aboutme {
    height: 410px;

    &__skills-container {
      width: 30%;
      left: 0px;
    }

    &__skills-image {
      height: 110px;
    }

    .c-skills--ruby {
      height: 85px;
    }
  }
}



