.c-articles-container {
  min-height: 100vh;
  display: grid;
  grid-gap: 10px;
  margin: 0 auto; 
  margin-bottom: 10px;
  padding-top: 25px;
  
  &__article {
    position: relative;
    width: 95%;
    height: 250px;
    background-image: url(articlebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto; 
    border-radius: 5px;    
  }

  &__article-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__article-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(182, 93, 209, 0.3);
    height: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .c-articles-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    &__article {
      background-size: 100%; 
      height: 300px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .c-articles-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px 0px;
  
    &__article {
      filter: grayscale(85%);
      height: 350px;
    }

    &__article:hover {
      filter: none;
      text-shadow: 1px 1px 1px rgb(68, 39, 77);
    }

    &__article-title {
      height: 50px;
      max-width: 100%;
    }
  }
}
