.c-article {
  &__image {
    height: 250px;
    width: 100%;
    background-image: url(articlebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__container {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    font-family: "Quicksand";
  }

  &__body {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
 
  &__heading {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid grey;
    max-width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .c-article {
    
    &__image {
      height: 450px;
    }

    &__body {
      margin-bottom: 4rem;
    }
  }
}