.c-article {

  &__header {
    height: 50px;
<<<<<<< HEAD
    width: 100%;
    background-image: var(--linear-gradient);
  }

  &__image {
    width: 100%;
=======
    width: 100%;
    background-image: linear-gradient(to right, rgba(109, 9, 139, 0.37), rgb(169, 150, 201));
  }

  &__image {
    height: 200px;
>>>>>>> d78f69d569fca3d510215066b98408bb027292ec
    margin: 0 auto;
    padding-right: 10px;
    padding-bottom: 5px;
  }

  &__container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px 0 20px 0;
    font-family: "Quicksand";
    min-height: 80vh;
  }

  &__body {
    position: relative; 
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }
 
  &__heading {
    font-size: 1.8rem;
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid grey;
    max-width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (min-width: $media-medium) {
  .c-article {
    
    &__image {
<<<<<<< HEAD
      width: 50%;
=======
      height: 400px;
>>>>>>> d78f69d569fca3d510215066b98408bb027292ec
      float: left;
    }

    &__body {
      margin-bottom: 4rem;
    }

    &__header {
      height: 75px;
    }
  }
}