.c-mc-signup {
  font-weight: bold;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  height: 40px;

  &__validate {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-self: center;
    height: 50px;
  }

  &__email {
    text-align: center;
    font-family: 'Exo 2';
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid grey;
    height: 20px;
    width: 200px;
  };

  &__button {
    background-color: rgba(44, 3, 109, 0.253);
    font-family: 'Exo 2';
    color: white;
    font-size: 1rem;
    border: 1px solid grey;
    border-left: 0px;
  }

  &__clear {
    height: 27px;
  }

  &__button:hover {
  color:rgb(163, 163, 163);
  background-color: rgb(129, 8, 129);
  text-shadow: 1px 1px white;
  }
}

@media only screen and (min-width: 768px) {
  .c-mc-signup {
    
    &__email {
      width:370px;
      font-size: 1rem;
    }
  }
}